#add {
    -fx-background-color: #222222;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 1px;
    -fx-border-color: black;

    -fx-min-width: 90px;
}

#bQuery, #go {
    -fx-background-color: #222222;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-min-width: 90px;
}

#bQuery:hover, #add:hover, .minus:hover {
    -fx-background-color: #f9f9f9;

}

#bQuery:pressed, #add:pressed, .minus:pressed {
    -fx-background-color: #f2f2f2;

}

.button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-background-color: #f9f9f9;

}

.button:pressed {
    -fx-background-color: #f2f2f2;

}
.minus {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 1px;
    -fx-border-color: #333333;

}

.alert, .alert:header *.header-panel {
    -fx-background-color: white;
}
.combo-box {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #323232;
}

.text-field {
    -fx-border-width: 1px;
    -fx-border-color: #383838;
    -fx-text-box-border: transparent;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
    -fx-focus-color: transparent;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color2.chart-series-line {
    -fx-stroke: #ED2939;
}

.default-color1.chart-series-line {
    -fx-stroke: #5bc0de;
}

.default-color0.chart-series-line {
    -fx-stroke: #00a478;
}

.default-color2.chart-line-symbol {
    -fx-background-color: #ED2939, white;
}

.default-color3.chart-series-line {
    -fx-background-color: #deed00, white;
}

.default-color1.chart-line-symbol {
    -fx-background-color: #5bc0de, white;
}

.default-color3.chart-line-symbol {
    -fx-background-color: #deed00, white;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #00a478, white;
}

.default-color0.chart-bar {
    -fx-bar-fill: #00a478;
}

.default-color1.chart-bar {
    -fx-bar-fill: #5bc0de;
}

.default-color2.chart-bar {
    -fx-bar-fill: #ED2939;
}

.default-color2.chart-bar {
    -fx-bar-fill: #deed00;
}


