.side-banner, .top-banner {
    -fx-background-color: #0d1c1f;
}

#top-banner{
    -fx-fill: white;
    -fx-font-family: "verdana";
}

.nav-buttons{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "verdana";
    -fx-font-weight: 300;
    -fx-border-color: #595959;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-graphic-text-gap: 30px;
}

.text-area .text {
    -fx-font-alignment: center;
    -fx-alignment: center;
}

.text-area .content {
    -fx-background-color: white;
    -fx-font-family: arial;
    -fx-font-size: 15px;
}
.welcomeMsg {
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-family: arial;
}

.indicator-title{
    -fx-fill: white;
}


.indicator-gdp{
    -fx-fill: #00a478;
    -fx-font-family: arial;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.indicator-increase{
    -fx-fill: #00a478;
    -fx-font-size: 17px;
    -fx-font-family: arial;
}

* {
    -fx-opacity: 1;
}


.indicator-box{
    -fx-border-color: #595959;
    -fx-padding: 20px;
}

.word-text {

    -fx-font-size: 15px;
    -fx-font-family: arial;
    -fx-font-weight: 300;
    -fx-text-fill: #3c3c3c;
}
#box0{
    -fx-border-width: 1px 0px 1px 1px;
}
#box2{
    -fx-border-width: 1px 1px 1px 1px;
}
#box1{
     -fx-border-width: 0px 0px 1px 1px;
 }
#box3{
    -fx-border-width: 0px 1px 1px 1px;
    -fx-graphic-text-gap: 10px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0.2px;
    -fx-border-radius: 2%;

}


